@font-face {
  font-family: 'BebasNue';
  src: url(/public/Fonts/BebasNue.ttf);
}

@font-face {
  font-family: 'JumperBold';
  src: url(/public/Fonts/Jumper-Bold.ttf);
}

@font-face {
  font-family: 'JumperExtraBold';
  src: url(/public/Fonts/Jumper-Extra-Bold.ttf);
}

@font-face {
  font-family: 'JumperRegular';
  src: url(/public/Fonts/Jumper-Regular.ttf);
}

@font-face {
  font-family: 'JumperLight';
  src: url(/public/Fonts/Jumper-Light.ttf);
}

@font-face {
  font-family: 'JumperThin';
  src: url(/public/Fonts/Jumper-Thin.ttf);
}

@font-face {
  font-family: 'JumperRegularItalic';
  src: url(/public/Fonts/JumperPERSONALUSEONLY-RegularItalic.ttf);
}

.App {
  text-align: center;
  font-family: 'BebasNue';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to right,#ffffff, #e2e2e2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
